body{
    width: 1890px;
    height: 800px;
    background-image: url(/images/21e72d6fc1563d5500582a3fcc63a545.jpeg);
    background-repeat: no-repeat;
    background-size: 1890px 790px ;
    background-position-x: 10px;
    background-position-y: 12px;
    background-color: rgb(0, 4, 255);
    text-align: center;
    box-shadow: -5px -5px rgb(46, 46, 46) inset, 5px 5px rgb(219, 219, 219) inset, 5px 5px black, 15px 15px darkgray inset, -15px -15px darkgrey inset;
}

main{
    width: 100%;
    height: 90%;
}

.container p{
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: darkgray;
    text-align: center;
    box-shadow: -3px -3px rgb(46, 46, 46) inset, 3px 3px rgb(219, 219, 219) inset, 2px 2px black;
}

header{
    width: 100%;
}

nav{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

nav p{
    width: 5%;
    font-style: italic;
    padding: 5px;
    margin-right: 5px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    background-color: darkgray;
    text-align: center;
    box-shadow: -3px -3px rgb(46, 46, 46) inset, 3px 3px rgb(219, 219, 219) inset, 2px 2px black;
    
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#neco{
    top: 210px;
    left: 100px;
    height: 120px;
    position: absolute;
    box-shadow: 5px 5px 10px;
    
}

#rad{
    position: absolute;
    margin-top: 550px;
    margin-left: 600px;
    height: 90px;
    box-shadow: 5px 5px 10px;
}

footer{
    margin-top: 30px;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    color: black;
    background-color: darkgray;
    text-align: center;
    box-shadow: -5px -5px rgb(46, 46, 46) inset, 5px 5px rgb(219, 219, 219) inset, 5px 5px black, 15px 15px darkgray inset, -15px -15px darkgrey inset;
}