body{
    width: 1900px;
    background-image: url(/images/21e72d6fc1563d5500582a3fcc63a545.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-color: black;
}

main p{

    color: white;
}

header{
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav p{
    width: 5%;
    font-style: italic;
    padding: 5px;
    margin: 1px;
    color: whitesmoke;
    background-color: gray;
    text-align: center;
    border-radius: 5px;
}

.container{
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
}

img{
    top: 25%;
    left: 100px;
    height: 150px;
    position: absolute;
    
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}